.text{
    color: #314E7C;
    font-family: sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    display: flex;
}
.Menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 70px;
}
a{
    text-decoration: none;
}